@model IEnumerable<Sistema.Web.Data.Entities.ArticleClassification>

@{
    ViewBag.Title = "Index";
}

<h2>Clasificacion de Articulos </h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name_ArtC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name_ArtC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ArtC_Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ArtC_Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ArtC_Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
