@model IEnumerable<Sistema.Web.Data.Entities.Company_Classification>

@{
    ViewBag.Title = "Index";
}

<h2>Clasificacion Empresa</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CompanyClass_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CompanyClass_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyClass_Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyClass_Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyClass_Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
