@model IEnumerable<Sistema.Web.Data.Entities.Customer>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client_Classification.ClientClass_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApellidoC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Document_Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelefonC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DireccionC)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client_Classification.ClientClass_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApellidoC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Document_Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TelefonC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DireccionC)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Customer_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Customer_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Customer_Id })
        </td>
    </tr>
}

</table>
