@model IEnumerable<Sistema.Web.Data.Entities.Seller>

@{
    ViewBag.Title = "Index";
}

<h2>Vendedor</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Document.Documento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Codigo_Vendedor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Seller_Lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DocumentRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cellphone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Document.Documento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo_Vendedor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seller_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Seller_Lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DocumentRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cellphone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Seller_Id }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Details", "Details", new { id=item.Seller_Id }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Seller_Id }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
