@model Sistema.Web.Data.Entities.FormPago

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FormPago</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Moneda.Name_moneda)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moneda.Name_moneda)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pago_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pago_Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_Pago }) |
    @Html.ActionLink("Back to List", "Index")
</p>
